@model IEnumerable<Student>
@{
    <html>

    <head>
        <title>Index</title>
    </head>

    <body>
        <h1>TODO: Afficher ici la liste des etudiants</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Details (HTML Helper) </th>
                <th>Details (Tag Helper) </th>
            </tr>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.LastName</td>
                    <td>@student.FirstName</td>
                    <td>@Html.ActionLink("details", "ShowDetails")</td>
                    <TD><a asp-action="ShowDetails" asp-route-id="@student.StudentId">Détail</a></TD>
                </tr>
            }
        </table>
    </body>

    </html>
}
